<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReferenceAssemblies" type="ReactiveServices.Configuration.ConfigurationSections.ReferenceAssembliesSection, ReactiveServices.Configuration"/>
    <section name="DependencyInjections" type="ReactiveServices.Configuration.ConfigurationSections.DependencyInjectionsSection, ReactiveServices.Configuration"/>
  </configSections>
  <ReferenceAssemblies>
    <ReferenceAssembly AssemblyName="ReactiveServices.MessageBus, Version=0.2.*, Culture=neutral, PublicKeyToken=null" />
    <ReferenceAssembly AssemblyName="ReactiveServices.MessageBus.RabbitMQ, Version=0.2.*, Culture=neutral, PublicKeyToken=null" />
    <ReferenceAssembly AssemblyName="ReactiveServices.Application, Version=0.2.*, Culture=neutral, PublicKeyToken=null" />
    <ReferenceAssembly AssemblyName="ReactiveServices.ComputationalUnit.Dispatching.Tests, Version=0.2.*, Culture=neutral, PublicKeyToken=null" />
  </ReferenceAssemblies>
  <DependencyInjections>
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IMessageSerializer" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQJsonSerializer" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.ISubscriptionBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQSubscriptionBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IPublishingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQPublishingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IRequestBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQRequestBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IResponseBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQResponseBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.ISendingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQSendingBus" />
    <DependencyInjection AbstractType="ReactiveServices.MessageBus.IReceivingBus" ConcreteType="ReactiveServices.MessageBus.RabbitMQ.RabbitMQReceivingBus" />
    <DependencyInjection ConcreteType="ReactiveServices.ComputationalUnit.Dispatching.Tests.SampleJob"/>
    <DependencyInjection ConcreteType="ReactiveServices.Application.Supervisor" />
    <DependencyInjection ConcreteType="ReactiveServices.Application.Bootstrapper" />
    <DependencyInjection AbstractType="ReactiveServices.Application.DispatcherLauncher" ConcreteType="ReactiveServices.Application.DispatcherLauncher" />
  </DependencyInjections>
</configuration>