<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NLog" version="4.1.2" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="PostSharp" version="4.1.27" targetFramework="net451" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.1.27" targetFramework="net451" />
  <package id="PostSharp.Patterns.Diagnostics.NLog" version="4.1.27" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net451" />
  <package id="ReactiveServices.Authorization" version="0.3.5.0" targetFramework="net451" />
  <package id="ReactiveServices.MessageBus" version="0.3.30" targetFramework="net451" />
  <package id="ReactiveServices.MessageBus.RabbitMQ" version="0.3.7" targetFramework="net451" />
  <package id="SimpleInjector" version="3.1.0" targetFramework="net451" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net451" />
  <package id="Sprache" version="2.0.0.47" targetFramework="net451" />
</packages>