<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true">
  <targets async="false"><!-- MUST BE FALSE TO ALLOW THE LOG TO BE FLUSHED IN CASE OF EXCEPTION -->
    <target name="console" type="Console" />
    <target name="memory" type="Memory" />
    <target name="file" type="File"
            fileName="${specialfolder:folder=ApplicationData}/Reactive Services/logs/${logger}-${shortdate}.log"
            archiveFileName="${specialfolder:folder=ApplicationData}/Reactive Services/logs/archives/${logger}-Month_{#}.log"
            archiveEvery="Month"
            archiveNumbering="Rolling"
            maxArchiveFiles="12"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2">
      <layout type="CSVLayout" delimiter="Pipe">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target name="exceptionFile" type="File"
            fileName="${specialfolder:folder=ApplicationData}/Reactive Services/exceptions/${logger}-${shortdate}.log"
            archiveFileName="${specialfolder:folder=ApplicationData}/Reactive Services/exceptions/archives/${logger}-Month_{#}.log"
            archiveEvery="Month"
            archiveNumbering="Rolling"
            maxArchiveFiles="12"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2">
      <layout type="CSVLayout" delimiter="Pipe">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite}" />
        <column name="exception" layout="${exception:format=tostring}" />
        <column name="stacktrace" layout="${stacktrace}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="exceptionFile" />
    <logger name="ReactiveServices.ComputationalUnit.*" minlevel="Info" writeTo="console" />
    <logger name="ReactiveServices.ComputationalUnit.Dispatching.*" minlevel="Info" writeTo="memory" />
    <logger name="ReactiveServices.ComputationalUnit.Dispatching.WorkerSupervision.Tests.Specifications.*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>