<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NLog" version="4.0.1" targetFramework="net451" />
  <package id="PostSharp" version="4.1.20" targetFramework="net451" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.1.20" targetFramework="net451" />
  <package id="PostSharp.Patterns.Diagnostics.NLog" version="4.1.20" targetFramework="net451" />
  <package id="ReactiveServices.MessageBus" version="0.2.6" targetFramework="net451" />
  <package id="SimpleInjector" version="2.8.3" targetFramework="net451" />
</packages>